{% extends "layouts/main.html" %}

{% set pageName = 'Sign in to check the children’s barred list' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>People on the children’s barred list are not allowed to work with children.</p>
      <p>The list is usually checked as part of an enhanced Disclosure and Barring Service (DBS) check.</p>
      <p>Schools, colleges, local authorities and higher education institutions can also check the children’s barred list separately.</p>
      <p>You can search the list using a new employee’s last name and date of birth. You should only do this if they either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>will start working with children while waiting for the result of an enhanced DBS check</li>
        <li>do not need an enhanced DBS check because they’ve worked with children in a school or college within the last 3 months</li>
      </ul>
      <p>Independent training providers, 16 to 19 academies and special post-16 institutions cannot use this service.</p>

      <form method="post">
        {{ govukButton({
          text: "Sign in",
          isStartButton: true
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
